################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Disaheim/.vs/Disaheim/FileContentIndex/91d8b4ac-1c7f-4649-9fd8-c07e7ab3d9ee.vsidx
/Disaheim/.vs/Disaheim/FileContentIndex/7d680598-6214-4264-94c6-4a9fe033239d.vsidx
